node_modules
*.log
dist
.output
.nuxt
.env
.eslintcache
.idea/
.DS_Store
.vite-devtools
packages/vite/src/public/fonts
packages/vite/src/app/public/fonts
packages/vite/runtime
packages/rolldown/src/public/fonts
packages/rolldown/src/app/public/fonts
packages/rolldown/runtime
packages/kit/skills
.rolldown
*.tsbuildinfo
docs/.vitepress/cache
.turbo
