node_modules
*.log
dist
.output
.nuxt
.env
.idea/
.DS_Store
.vite-devtools
packages/vite/src/public/fonts
packages/vite/src/app/public/fonts
packages/vite/runtime
.rolldown
*.tsbuildinfo
docs/.vitepress/cache
