html, body , #__nuxt{
  height: 100vh;
  margin: 0;
  padding: 0;
}

.bg-dots {
  background-image: url('/dot-grid-light.png');
  background-size: 50px;
  background-repeat: repeat;
}

.dark .bg-dots,
.bg-dots.dark {
  color-scheme: dark;
  background-color: black;
  background-image: url('/dot-grid-dark.png');
}

html {
  --uno: bg-base font-sans;
}
body {
  --uno: color-base;
}

/* For Scrollbar */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar:horizontal {
  height: 6px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #8884;
  transition: background 0.2s ease;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #8885;
}

::-webkit-scrollbar-track {
  border-radius: 1px;
  background: transparent;
}
