:root {
  --un-text-opacity: 100%;
}

.vite-devtools-resize-handle-horizontal {
  --uno: absolute left-[6px] right-[6px] h-[10px] -my-[5px] cursor-ns-resize rounded-md;
}
.vite-devtools-resize-handle-vertical {
  --uno: absolute top-[6px] bottom-0 w-[10px] -mx-[5px] cursor-ew-resize rounded-md;
}
.vite-devtools-resize-handle-corner {
  --uno: absolute w-[14px] h-[14px] -m-[6px] rounded-md;
}
.vite-devtools-resize-handle {
  --uno: z-[2147483644];
}
.vite-devtools-resize-handle:hover {
  --uno: bg-gray-400:10;
}

#vite-devtools-anchor {
  --uno: w-0 z-[2147483644] fixed origin-center font-sans text-[15px] box-border;
  transform: translate(-50%, -50%) rotate(0);
}

#vite-devtools-anchor #vite-devtools-dock-container {
  --uno: absolute left-0 top-0 h-[40px] min-w-[100px] w-max flex;
  transform: translate(-50%, -50%);
}

#vite-devtools-anchor.vite-devtools-vertical #vite-devtools-dock-container {
  transform: translate(-50%, -50%) rotate(90deg);
  --uno: transition-all duration-500;
}

#vite-devtools-anchor #vite-devtools-dock {
  --uno: h-full rounded-full select-none touch-none px4 ma h-[40px];
  --uno: shadow text-white bg-glass border border-base;
  --uno: transition-all duration-500;
  width: calc-size(max-content, size);
}

#vite-devtools-anchor.vite-devtools-minimized #vite-devtools-dock {
  --uno: w-[20px] h-[20px] px-0 py-[2px];
}

#vite-devtools-anchor.vite-devtools-minimized .vite-devtools-dock-bracket {
  --uno: w-2 op50;
}

#vite-devtools-anchor:hover #vite-devtools-glowing {
  --uno: opacity-60;
}

#vite-devtools-anchor #vite-devtools-glowing {
  --uno: absolute left-0 top-0 w-[160px] h-[160px] opacity-0 transition-all duration-[1000ms] ease-out pointer-events-none -z-[1] rounded-full blur-[60px];
  transform: translate(-50%, -50%);
  background-image: linear-gradient(45deg, #61d9ff, #7a23a1, #715ebd);
}

@media print {
  #vite-devtools-anchor {
    --uno: hidden;
  }
}
