:root {
  --un-text-opacity: 100%;
}

.vite-devtools-resize-handle-horizontal {
  --uno: absolute left-[6px] right-[6px] h-[10px] -my-[5px] cursor-ns-resize rounded-md;
}
.vite-devtools-resize-handle-vertical {
  --uno: absolute top-[6px] bottom-0 w-[10px] -mx-[5px] cursor-ew-resize rounded-md;
}
.vite-devtools-resize-handle-corner {
  --uno: absolute w-[14px] h-[14px] -m-[6px] rounded-md;
}
.vite-devtools-resize-handle {
  --uno: z-[2147483645];
}
.vite-devtools-resize-handle:hover {
  --uno: bg-gray-400:10;
}

#vite-devtools-anchor {
  --uno: w-0 z-[2147483645] fixed origin-center font-sans text-[15px] box-border;
  transform: translate(-50%, -50%) rotate(0);
}

#vite-devtools-anchor #vite-devtools-dock-container {
  --uno: absolute left-0 top-0 h-[44px] min-w-[100px] w-max;
  transform: translate(-50%, -50%);
}

#vite-devtools-anchor.vite-devtools-vertical #vite-devtools-dock-container {
  transform: translate(-50%, -50%) rotate(90deg);
  transition:
    all 0.6s ease,
    max-width 0.6s ease,
    padding 0.5s ease,
    transform 0.4s ease,
    opacity 0.2s ease;
}

#vite-devtools-anchor #vite-devtools-dock {
  --uno: h-full min-w-full rounded-full select-none touch-none px4;
  --uno: shadow text-white bg-glass border border-base;
  transition:
    all 0.6s ease,
    max-width 0.6s ease,
    padding 0.5s ease,
    transform 0.4s ease,
    opacity 0.2s ease;
}

#vite-devtools-anchor.vite-devtools-minimized #vite-devtools-dock {
  --uno: w-[52px] h-[8px] px-0 py-[2px];
}


#vite-devtools-anchor:hover #vite-devtools-glowing {
  --uno: opacity-60;
}

#vite-devtools-anchor #vite-devtools-glowing {
  --uno: absolute left-0 top-0 w-[160px] h-[160px] opacity-0 transition-all duration-[1000ms] ease-out pointer-events-none -z-[1] rounded-full blur-[60px];
  transform: translate(-50%, -50%);
  background-image: linear-gradient(45deg, #61d9ff, #7a23a1, #715ebd);
}

@media print {
  #vite-devtools-anchor {
    --uno: hidden;
  }
}

.vite-devtools-dock-label {
  --uno: translate-x--1/2 bottom--7 left-1/2;
}

.vite-devtools-vertical .vite-devtools-dock-label {
  --uno: rotate-270 bottom--10;
}

