html, body , #__nuxt{
  height: 100vh;
  margin: 0;
  padding: 0;
}

:root {
  --app-scrollbar-size: 6px;
  --app-scrollbar-radius: 1px;
  --app-scrollbar-thumb: #8884;
  --app-scrollbar-thumb-hover: #8885;
}

html {
  --uno: bg-base font-sans;
  color-scheme: light;
}
html.dark {
  color-scheme: dark;
  background-color: #121212;
}
body {
  --uno: color-base;
}

/* For Scrollbar */
::-webkit-scrollbar {
  width: var(--app-scrollbar-size);
}

::-webkit-scrollbar:horizontal {
  height: var(--app-scrollbar-size);
}

::-webkit-scrollbar-corner {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--app-scrollbar-thumb);
  transition: background 0.2s ease;
  border-radius: var(--app-scrollbar-radius);
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--app-scrollbar-thumb-hover);
}

::-webkit-scrollbar-track {
  border-radius: var(--app-scrollbar-radius);
  background: transparent;
}
